extends layout

block content
  h1= title

  -
    let items = results
  
  div(class="container-fluid")
    div(class="row")
      for dino in results
        div(class="col-sm-3") Dino: #{dino.name} -- Color: #{dino.color} -- Danger Rating: #{dino.danger_rating}